version: "3.8"

services:

  openvins:
    image: amiraqaie1376/openvins:latest
    container_name: openvins
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && rm -rf /root/ros2_ws/src/open_vins/config/droneai_config/* && cp /root/config/* /root/ros2_ws/src/open_vins/config/droneai_config && ros2 launch ov_msckf subscribe.launch.py config:=droneai_config rviz_enable:=true"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
      - ./config:/root/config
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host