version: "3.8"

services:
  px4_simulation:
    image: amiraqaie1376/simulation:latest   # PX4-SITL main simulation image
    container_name: px4_simulation
    command: bash -c "cd /root/PX4-Autopilot && HEADLESS=1 make px4_sitl gazebo-classic_droneai__apt"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  xrce_agent:
    image: amiraqaie1376/microxrce:latest   # Micro XRCE Agent built separately
    container_name: xrce_agent
    command: bash -c "MicroXRCEAgent udp4 -p 8888"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  robot_state_publisher:
    image: amiraqaie1376/rtabmap:latest
    container_name: robot_state_publisher
    command: bash -c "source /opt/ros/humble/setup.bash && ros2 launch /root/scripts/robot_state_publisher.launch.py"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  simulate_uncalibrated_camera:
    image: amiraqaie1376/rtabmap:latest    # OpenVINS or uncalibrated camera simulation
    container_name: simulate_uncalibrated_camera
    command: bash -c "source /opt/ros/humble/setup.bash && python3 /root/scripts/simulate_uncalibrated_camera.py"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  offboard_script:
    image: amiraqaie1376/microxrce:latest   # Offboard control uses MicroXRCE agent
    container_name: offboard_script
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && python3 /root/scripts/px4_vio.py --OffboardControllEnable False --TakeoffHeight 1.0 --SLAM openvins"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host
