services:
  px4_simulation:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: px4_simulation
    command: bash -c "cd /root/PX4-Autopilot && HEADLESS=1 make px4_sitl gazebo-classic_droneai__apt"
    environment: 
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  xrce_agent:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: xrce_agent
    command: bash -c "MicroXRCEAgent udp4 -p 8888"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  robot_state_publisher:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: robot_state_publisher
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && ros2 launch /root/scripts/robot_state_publisher.launch.py"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  simulate_uncalibrated_camera:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: simulate_uncalibrated_camera
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && python3 /root/scripts/simulate_uncalibrated_camera.py"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  rtabmap:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: rtabmap
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && ros2 launch rtabmap_launch rtabmap.launch.py  args:='-d  \
                      --Vis/MaxFeatures               200   --Kp/MaxFeatures          200   \
                      --Vis/CorType                   0    --Cloud/MinDepth          0.2   \
                      --Cloud/MaxDepth                4.0  --Cloud/VoxelSize         0.05  \
                      --Cloud/NoiseFilterRadius       0.05  --Cloud/NoiseFilterMinNeighbors   10 \ 
                      --Optimizer/GravitySigma        0.3   --Grid/MapFrameProjection true  \
                      --Grid/NormalsSegmentation      false --Grid/MaxGroundHeight    0.5   \
                      --Grid/cellSize                 0.1   --Grid/RangeMax           4.0   \
                      --Grid/3D                       false --Grid/RayTracing         true  \
                      --Grid/MaxObstacleHeight        1.5   --Kp/MaxDepth             4.0   \
                      --Stereo/MaxDisparity           128   --Stereo/MinDisparity     0.5 '  \
                      stereo:=true  use_sim_time:=True \
                      left_image_topic:=/stereo/left/uncalibrated_image \
                      right_image_topic:=/stereo/right/uncalibrated_image \
                      left_camera_info_topic:=/stereo/left/uncalibrated_camera_info \
                      right_camera_info_topic:=/stereo/right/uncalibrated_camera_info \
                      imu_topic:=/imu \
                      frame_id:=base_link \
                      approx_sync:=true \
                      wait_imu_to_init:=false \
                      approx_sync_max_interval:=0.001 \
                      qos:=2 \
                      rtabmapviz:=false \
                      rviz:=true"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  nav2_bringup:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: nav2_bringup
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && ros2 launch nav2_bringup navigation_launch.py use_sim_time:=True"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  nav2_rviz:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: nav2_rviz
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && ros2 launch nav2_bringup rviz_launch.py use_sim_time:=True"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  offboard_script:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: offboard_script
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && python3 /root/scripts/microxrce_test.py --OffboardControllEnable False  --TakeoffHeight  1.0"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  rqt:
    image: amiraqaie1376/ngd_simulation:latest
    container_name: rqt
    command: bash -c "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && rqt"
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./scripts:/root/scripts
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true
    ipc: host
    pid: host

  # openvins:
  #   image: amiraqaie1376/ngd_simulation:latest
  #   container_name: px4_simulation
  #   command: bash -c "cd /root/PX4-Autopilot && HEADLESS=1 make px4_sitl gazebo-classic_droneai__apt"
  #   environment: 
  #     - DISPLAY=${DISPLAY}
  #   volumes:
  #     - /tmp/.X11-unix:/tmp/.X11-unix
  #     - ./scripts:/root/scripts
  #   network_mode: host
  #   devices:
  #     - /dev/dri:/dev/dri
  #   stdin_open: true
  #   tty: true
  #   ipc: host
  #   pid: host